body {
    background-color: hsl(0, 8%, 95%);
    font-family: 'Poppins';
    font-size: 15px;
}
.cartao {
    width: 310px;
    height: 209px;
    background-color: white;
    box-shadow: 1px 3px 7px #b3acac;
}
.cartoes {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 40% 40%;
    grid-gap: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    justify-content: center;

}
.team {
    grid-column: 2/2;
    grid-row: 2/1;
}
.karma {
    grid-column: 2/3;
    grid-row: 2/2;
}
.destaque__titulo{
    font-size: 19px;
    font-weight: bold;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.destaque__descricao {
    font-weight: 200;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 210px;
}
.destaque__img {
    margin-top: 1rem;
    margin-left: 10rem;

}
@media screen and (max-width: 1028px) { 
    .cartoes {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
    }

}

