body {
    background-color: hsl(0, 8%, 95%);
    font-family: 'Poppins';
    font-size: 15px;
}
.cartao {
    width: 340px;
    height: 250px;
    margin: 0 auto;
    background-color: white;
    margin-top: 2rem;
}
.cartoes {
    margin-left: 1rem;
    margin-right: 1rem;
}
.destaque__titulo{
    font-size: 19px;
    font-weight: bold;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.destaque__descricao {
    font-weight: 200;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 210px;
}
.destaque__img {
    margin-top: 1rem;
    margin-left: 10rem;

}

@media screen and (mix-width: 375px) { 
    .container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .cartoes {
        margin: 0 auto;
        width: auto;
    }
    .principal__descricao {
        width: 210px;
        text-align: center;
        margin: 0 auto;
    }
    
}