.principal {
    text-align: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 4rem;
    font-size: 20px;
}
.principal__titulo {
    padding-bottom: 2rem;
    font-weight: 400;
    font-size: 25px;
}
.principal__destaque{
    font-weight: 600;
}
.principal__descricao {
    margin: 0 auto;
    font-size: 15px;
    font-weight: 200;
    margin-bottom: 1.3rem;
    width: 500px;
}

@media screen and (max-width: 720px) { 
    .principal {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .principal__descricao {
        width: 310px;
        text-align: center;
        margin: 0 auto;

    }
    
}